$midBrown: #52361C;
$lightTeal: rgb(31, 190, 204);
$teal: #188F9A;
$darkTeal: rgb(16, 93, 100);
$purple: rgb(113, 24, 154);
$red: #E71205;
$lightRed: rgb(245, 156, 151);
$orange: rgb(241, 115, 12);
$lightOrange: rgb(243, 172, 114);
$midLightGrey: #CDCDCD;
$midGrey: #A4A4A4;
$lightGrey: #E5E5E5;
$veryLightGrey: #EEE;
$darkGrey: #444;
$offWhite: #FCFCFC;
$white: #fff;
$offBlack: #252525;

$statusMessageBody: #a5e4d9;
$statusMessageBorder: #51c1ae;

