form {
    margin: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    font-size: 1.5em;
    font-family: SiteSansSerif;
    border-radius: 5px;
}

input[type=submit] {
    font-family: SiteSansSerif;
    font-weight: 600;
}
