@import 'breakpoints';

@media (max-width: $mobile) {
    header {
        height: 200px;
        background-position-y: center;
    }
}

@media (min-width: $tablet) {
    header {
        height: 40vh;
    }
}

@media (min-width: $desktop) {
    header {
        height: 50vh;
        background-image: url(../assets/seminarycover80.jpg);
    }
}

@media (min-width: $wideDesktop) {
    header {
        height: 50vh;
        background-position-y: -50px;
        background-image: url(../assets/seminarycover80.jpg);
    }
}

@media (min-width: $ultraWideDesktop) {
    header {
        height: 50vh;
        background-position-y: -110px;
        background-image: url(../assets/seminarycoverfull.jpg);
    }
}

@media (min-width: $ludicrousWideDesktop) {
    header {
        height: 50vh;
        background-position-y: -620px;
        background-image: url(../assets/seminarycoverfull.jpg);
    }
}