.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
}
  
.sticky + .layout-container {
    margin-top: 60px;
}

.admin-sticky + .layout-container {
    margin-top: 73px;
}

.admin-sticky {
      top: 31px;
      position: fixed;
      width: 100%;
      z-index: 501;
  }
