@import 'colors';
@import 'media-queries';
@import 'sticky-menu';
@import 'status-messages';
@import 'fonts';
@import './font-awesome/fontawesome';
@import './font-awesome/regular';
@import './font-awesome/brands';
@import './font-awesome/solid';
@import 'forms';
// @import './font-awesome/core';
// @import './font-awesome/animated';
// @import './font-awesome/icons';
// @import './font-awesome/variables';
// @import './font-awesome/fixed-width';
// @import './font-awesome/mixins';

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    overflow: hidden;
}

body {
    background-color: $lightGrey;
    max-width: 100%;
}

.visually-hidden {
    display: none;
}

header {
    background-color: $midBrown;
    background-image: url(../assets/seminarycover50.jpg);
    background-position-x: center;
    background-size: cover;
    min-height: 200px;
}

nav.main-menu {
    color: $offWhite;
    width: 100%;
    height: 55px;
    border-top: 8px solid $teal;
    background-color: $midBrown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    padding: 0px 10px;
}

.main-menu-user-bar {
    max-height: 100%;
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
}

.profile-image-positioner {
    display: flex;
    align-items: center;
    height: 100%;
    overflow-y: hidden;
    width: auto;
    max-width: 100px;
}

.main-menu-link-block, .main-menu-link-block ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 100%;
    margin: 0px 20px;
}

.main-menu-link-block li {
    margin: 0px 20px;
}

.main-menu-link-block li {
    list-style-type: none;
}

main {
    padding: 30px;
}

.links {
    list-style-type: none;
}

article {
    border-radius: 5px;
    padding: 100px 50px;
    background-color: $offWhite;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article aside {
    width: 100%;
    margin: 20px 0px;
}

div.views-row div {
    max-width: 100%;
    overflow: hidden;
}

.content-area {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.content-area div.imagearea {
    grid-column: 2 / 3;
}

.content-area .links {
    grid-column: 1 / 2;
}

.content-area .text_with_summaryarea {
    grid-row: 1 / -1;
}