@import 'colors';
@import 'breakpoints';
@import './font-awesome/fontawesome';
@import './font-awesome/regular';
@import './font-awesome/brands';
@import './font-awesome/solid';
// @import './font-awesome/core';
// @import './font-awesome/animated';
// @import './font-awesome/icons';
// @import './font-awesome/variables';
// @import './font-awesome/fixed-width';
// @import './font-awesome/mixins';

* {
    margin: 0px;
    padding: 0px;
}

body {
    color: $offBlack;
    background-color: $red;
}

header {
    background-color: $midBrown;
}

@media (max-width: $tablet) {
    header {
        height: 300px;
    }
}

@media (min-width: $tablet) {
    header {
        height: 50vh;
    }
}

@media (min-width: $desktop) {
    header {
        height: 30vh;
    }
}
