@import 'colors';
@import 'media-queries';
@import 'fonts';
@import './font-awesome/fontawesome';
@import './font-awesome/regular';
@import './font-awesome/brands';
@import './font-awesome/solid';
// @import './font-awesome/core';
// @import './font-awesome/animated';
// @import './font-awesome/icons';
// @import './font-awesome/variables';
// @import './font-awesome/fixed-width';
// @import './font-awesome/mixins';

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    color: $offBlack;
    background-color: $lightGrey;
    max-width: 100%;
}

header {
    background-color: $midBrown;
    background-image: url(../assets/seminarycover50.jpg);
    background-position-x: center;
    background-size: cover;
    min-height: 200px;
}

input {
    padding: 10px;
    margin: 5px;
    font-size: 1.5em;
    font-family: SiteSansSerif;
}

input[type=submit] {
    font-family: SiteSansSerif;
    font-weight: 600;
}

nav.main-menu {
    color: $offWhite;
    width: 100%;
    height: 55px;
    border-top: 8px solid $teal;
    background-color: $midBrown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    padding: 0px 10px;
}

.main-menu-user-bar {
    max-height: 100%;
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
}

.profile-image-positioner {
    display: flex;
    align-items: center;
    height: 100%;
    overflow-y: hidden;
    width: auto;
    max-width: 100px;
}

.main-menu-link-block, .main-menu-link-block ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 100%;
    margin: 0px 20px;
}

.main-menu-link-block li {
    margin: 0px 20px;
}

.main-menu-link-block li {
    list-style-type: none;
}